<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="admin/header :: library">
		<meta charset="UTF-8"/>
		<title>Insert title here</title>
	</head>
	<body>
		<section>
			<div class="main-content container-fluid">
				<div class="row">
				<section th:replace="admin/header :: header"></section>
				<!-- menu -->
				<div th:replace="admin/menu :: menu"></div>
				<!-- menu -->
				
				<div class="col-md-10 ">
					<div class="p-4">
						<h1 class="border-bottom py-3">Add Product</h1>
						<div class="card">
							<div class="card-header">
								<p class="m-0">Profile Edit Element</p>
							</div>
							<div class="card-body">
								<form th:action="@{/admin/product/save}" th:object="${product}" method="POST" enctype="multipart/form-data">
									<div class="row">
										<div class="col-md-9">
											<div class="w-100">
												<label class="font-weight-bold">Tên Sách</label>
												<input th:field="*{name}" Class="form-control" placeholder="Nhập tên sách" />
											</div>
											<div class="w-100 pt-3">
												<label class="font-weight-bold">Số lượng</label>
												<input type="number" th:field="*{number}" th:errorclass="field-error" class="form-control" min="0" max="100000000"/>
											</div>
											<div class="w-100 pt-3">
												<label class="font-weight-bold">Chi tiết sách</label>
												<textarea th:field="*{detail}" Class="form-control" rows="7" placeholder="Nhập thông tin sách" />
											</div>
											<div class="w-100 pt-3">
												<label class="font-weight-bold">Giá bán(VNĐ)</label>
												<input type="number" th:field="*{price}" th:errorclass="field-error" class="form-control" min="0" max="100000000" placeholder="Nhập giá"/>
											</div>
											<div class="pt-3">
												<a th:if="${product.id}">
													<button type="submit" class="btn btn-success border" id="btnAddOrUpdate">Update Button</button>
													<button type="reset" class="btn btn-success border">Reset Button</button>
												</a>
												<a th:unless="${product.id}">
													<button type="submit" class="btn btn-success border" id="btnAddOrUpdate">Add Button</button>
													<button type="reset" class="btn btn-success border">Reset Button</button>
												</a>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100">
												<div class="w-100">
													<label class="font-weight-bold">Tác giả</label>
													<input type="text" th:field="*{author}" th:errorclass="field-error" class="form-control" placeholder="Nhập tác giả"/>
												</div>
												<label class="font-weight-bold w-100 pt-3">Thể Loại</label>
												<select th:field="*{categoryEntity}" class="form-control">
														<option th:value="0" th:text="a"/>
														<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"/>
														</select>
													</div>
													<div class="w-100 pt-3">
														<label class="font-weight-bold">Status</label>
														<select th:field="*{status}" id="cars" name="cars" class="form-control">
															<option value="0">[ Choose Status ]</option>
															<option value='1' >Published</option>
															<option value='0' >Unpublished</option>
														</select>
													</div>
													<div th:if="${product.imgae} != null" class="w-100 pt-3">
														<label  class="font-weight-bold">Ảnh Sản Phẩm</label> <br/>
														<img th:src="@{/img/{image}(image=${product.imgae})}" class="img-fluid"/>
													</div>
													<div class="w-100 pt-3">
														<label  class="font-weight-bold">Thêm Ảnh<span class="required">*</span></label>
														<input type="file" name="image" />
														<input type="hidden" th:field="*{imgae}" value="${product.imgae}" Class="form-control"/>
														<input type="text" th:field="*{id}" value="${product.id}" Class="form-control"/>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</body>
	</html>