<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="admin/header :: library">
	</head>
	<body>
		<section>
			<div class="main-content container-fluid">
				<div class="row">
				<section th:replace="admin/header :: header"></section>
				<!-- menu -->
				<div th:replace="admin/menu :: menu"></div>
				<!-- menu -->
				
				<div class="col-md-10 ">
					<div class="p-4">
						<h1 class="border-bottom py-3">List Content</h1>
						<div class="card">
							<div class="card-header"> <p class="m-0">Profile Edit Element</p></div>
							<div class="card-body">
								<table class="table table-striped table-bordered" id="dataTables">
									<thead>
										<tr>
											<th>#</th>
											<th width="25%" scope="col">Hình Ảnh</th>
											<th width="30%" scope="col">Email</th>
											<th width="20%" scope="col">Số Điện Thoại</th>
											<th width="13%" scope="col">Option</th>
											<th width="15%" scope="col">Ngày Tạo</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user, item:${users}">
											<td class="font-weight-normal" th:utext="${item.count}"></td>
											<td>
												<img th:src="@{/img/{image}(image=${user.img})}" width="60px" height="50px" class="img-fluid"/>
											</td>
											<td th:text="${user.email}"></td>
											<td th:text="${user.phone}"></td>
											<td>
												<a th:switch="${user.status}">
													<button th:case="'1'" class="btn btn-sm text-danger border btn-light status" type="submit" id="status${i.count}" value="${item.id}">
													<i class="fas fa-toggle-off"></i>
													</button>
													<button th:case="'0'" class="btn btn-sm text-success border btn-light status" type="submit" id="status${i.count}" value="${item.id}">
													<i  class="fas fa-toggle-on"></i>
													</button>
												</a>
												<!-- update -->
												<a class="btn btn-sm text-info border btn-light" title="Cập nhật user" th:href="@{/admin/user/{id}/edit(id=${user.id})}"> <i class="far fa-edit"></i></a>
												
												<!-- store -->
												<button class="btn btn-sm text-danger border btn-light delete" title="Xoá sản phẩm" type="button" value="${item.id}">
												<i class="far fa-trash-alt"></i>
												</button>
											</td>
											<td th:text="${user.createdDate}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" charset="utf8" th:src="@{/datatables/js/jquery-3.5.1.js}"></script>
	<script type="text/javascript" charset="utf8" th:src="@{/datatables/js/jquery.dataTables.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('#dataTables').DataTable();
		} );
	</script>
</body>
</html>