<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:fragment="library">
		<meta charset="UTF-8"/>
		<title>Book Store</title>
		<!-- Css Styles -->
		<link rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/web/css/font-awesome.min.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/web/css/elegant-icons.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/web/css/nice-select.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/web/css/jquery-ui.min.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/web/css/owl.carousel.min.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/web/css/slicknav.min.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/web/css/style.css}" type="text/css"/>
		<!-- Js Plugins -->
		<script th:src="@{/web/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/web/js/bootstrap.min.js}"></script>
		<script th:src="@{/web/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/web/js/jquery-ui.min.js}"></script>
		<script th:src="@{/web/js/jquery.slicknav.js}"></script>
		<script th:src="@{/web/js/mixitup.min.js}"></script>
		<script th:src="@{/web/js/owl.carousel.min.js}"></script>
		<script th:src="@{/web/js/main.js}"></script>
		
	</head>
	<body>
		<!-- Header Section Begin -->
		<header th:fragment="header" class="header">
			<div class="header__top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="header__top__left">
								<ul>
									<li><i class="fa fa-envelope"></i> [[${#authentication.principal.myuser.name}]]</li>
									<li>Free Shipping for all Order of $99</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="header__top__right">
								<div class="header__top__right__social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
								</div>
								<div class="header__top__right__language">
									<img src="img/language.png" alt=""/>
									<div>English</div>
									<span class="arrow_carrot-down"></span>
									<ul>
										<li><a href="#">Spanis</a></li>
										<li><a href="#">English</a></li>
									</ul>
								</div>
								<div sec:authorize="isAuthenticated()" class="header__top__right__auth">
									<a th:href="@{#}"><i class="fa fa-user"></i>Hello <span sec:authentication="name"></span></a>
								</div>
								<div sec:authorize="isAuthenticated()" class="header__top__right__auth">
									<a th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
								</div>
								<div sec:authorize="isAnonymous()" class="header__top__right__auth">
									<a th:href="@{/login}"><i class="fa fa-user"></i> Login</a>
								</div>
								<div sec:authorize="isAnonymous()" class="header__top__right__auth">
									<a th:href="@{/register}"><i class="fa fa-user-plus"></i> Resgister</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="header__logo">
							<a href="./index.html"><img src="img/logo.png" alt=""/></a>
						</div>
					</div>
					<div class="col-lg-6">
						<nav class="header__menu">
							<ul>
								<li class="active"><a th:href="@{/home}">Home</a></li>
								<li><a href="./shop-grid.html">Shop</a></li>
								<li><a href="#">Pages</a>
								<ul class="header__menu__dropdown">
									<li><a href="./shop-details.html">Shop Details</a></li>
									<li><a th:href="@{shoping-cart}">Shoping Cart</a></li>
									<li><a href="./checkout.html">Check Out</a></li>
									<li><a href="./blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li><a href="./blog.html">Blog</a></li>
							<li><a href="./contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3">
					<div class="header__cart">
						<ul>
							<li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
							<li><a th:href="@{/shoping-cart}"><i class="fa fa-shopping-bag"></i> <span th:text="${session.myCartNum}"></span></a></li>
						</ul>
						<div class="header__cart__price">item: <span>$150.00</span></div>
					</div>
				</div>
			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->
</body>
</html>